on init
    setprop sys.usb.configfs 1

on fs
    mount functionfs mtp /dev/usb-ffs/mtp uid=2000,gid=2000

on property:sys.usb.config=mtp,adb
    start adbd

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/idProduct FF48
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on fs && property:sys.usb.configfs=1
    mkdir /config/usb_gadget/g1/functions/mtp.gs0

on property:sys.usb.config=none && property:sys.usb.configfs=1
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2

on property:sys.usb.config=mtp,adb && property:sys.usb.ffs.ready=1 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0xFF48
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_adb"
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
